
<div class="mt-4">
    <div class="row">

        {{#each users}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-course-item">
                <a href = "/courses/{{this.username}}">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href = "/courses/{{this.username}}">
                        <h5 class="card-title">{{this.username}}</h5>
                    </a>
                    <p class="card-text">{{this.username}}</p>
                    <a href="/courses/{{this.username}}" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        {{/each}}

    </div>
</div>