<form method="POST" action="/post/{{post._id}}?_method=PUT">
<h1>CẬP NHẬP Post</h1>
  <div class="mb-3">
    <label for="title" class="form-label">Tên Post: </label>
    <input type="text" class="form-control" name="title" id="title" value="{{post.title}}"   aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả</label>
    <input type="text" class="form-control" name="description" id="description"  value= "{{post.description}}" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="url" class="form-label">link ảnh</label>
    <input type="text" class="form-control" name="url" id="url"  value= "{{post.url}}" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
  <select class="form-select" name="status" aria-label="Default select example" id="status">
    <option hidden selected value = "{{post.status}}">{{post.status}}</option>
    <option value="TO LEARN">TO LEARN</option>
    <option value="LEARNING">LEARNING</option>
    <option value="LEARNED">LEARNED</option>
  </select>
    </div>

  <button type="submit" class="btn btn-primary">Cập nhập Post </button>
</form>
